@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-6 col-xs-12 col-sm-12" style="margin-top: 20px; font-size: 17px">
        <p>
            <strong style="color: indigo">Sensor Shop</strong> is a leading online Sensor Store. Our mission is to keep our readers
            informed about the latest developments in the Sensor industry, using a complete array of features.
            Sensor shop has provided its readers with unique, powerful tools allowing them to easily find the
            devices that are most appropriate for their own, specific needs etc.
        </p>
        <h3 style="color: indigo">We believe in happy shopping</h3>
        <p>
            When you place an order, we want you to be happy. Happy because you've had a great choice
            of sensor products to choose from, you've got a brilliant deal and the service you've received has been
            friendly and helpful.
        </p>
    </div>
    <div class="col-md-6 hidden-sm hidden-xs" style="margin-top:20px">
        <img src="~/img/about.jpg" alt="Who We Are" />
    </div>
</div>